<div>
  <h1>Welcome to WebRTC</h1>
  <div id="buttons">
    <button #openMediaBtn (click)="openUserMedia()" [disabled]="isUserMediaSetup()">
      <span class="mdc-button__label">Open camera & microphone</span>
    </button>
    <button #closeMediaBtn (click)="closeUserMedia()" [disabled]="!isUserMediaSetup()">
      <span class="mdc-button__label">Close camera & microphone</span>
    </button>
    <button id="createRoomButton" (click)="createRoom()" [disabled]="!canCreateRoom()">
      <span class="mdc-button__label">Create room</span>
    </button>
    <button id="joinRoomButton" (click)="openJoinRoomForm()" [disabled]="!canJoinRoom()">
      <span class="mdc-button__label">Join room</span>
    </button>
    <button  id="hangupButton" (click)="hangUp()" [disabled]="!canHangUp()">
      <span class="mdc-button__label">Hangup</span>
    </button>
  </div>

  <div>
    <span id="currentRoom">{{currentRoom}}</span>
    <form [formGroup]="joinRoomForm" (submit)="joinRoom()" [hidden]="!showJoinRoomForm()">
      <span id="joinRoomLabel">Enter room id:</span>
      <input type="text" [formControl] = "joinRoomForm.controls.newRoomId">
      <button type="submit">Join Room</button>
    </form>
  </div>

  <div id="videos">
    <video #localVideo muted playsInline preload="auto"></video>
    <video #remoteVideo playsInline preload="auto"></video>
  </div>
</div>