<div>
  <h1>Welcome to WebRTC</h1>
  <div id="buttons">
    <button #openMediaBtn (click)="openUserMedia()">
      <span class="mdc-button__label">Open camera & microphone</span>
    </button>
    <button #closeMediaBtn (click)="closeUserMedia()">
      <span class="mdc-button__label">Close camera & microphone</span>
    </button>
    <button id="createRoomButton" (click)="createRoom()" [disabled]="!isUserMediaSetup && !hasCreatedRoom">
      <span class="mdc-button__label">Create room</span>
    </button>
    <button id="joinRoomButton" [disabled]="!isUserMediaSetup && !hasCreatedRoom">
      <span class="mdc-button__label">Join room</span>
    </button>
    <button  id="hangupButton" (click)="hangUp()" [disabled]="!isUserMediaSetup">
      <span class="mdc-button__label">Hangup</span>
    </button>
  </div>

  <div>
    <span id="currentRoom">{{currentRoom}}</span>
  </div>

  <div id="videos">
    <video #localVideo muted preload="auto"></video>
    <video #remoteVideo autoplay playsinline></video>
  </div>
</div>